# 3.11.27 Pandas

### Introduction to Pandas

`pandas` is a Python library for **data manipulation and analysis**. It offers data structures and operations for manipulating numerical tables and time series. The name is derived from the term "**pan**el **da**ta" (a term for data sets that include observations over multiple time periods for the same observations). **Wes McKinney** started building what would become pandas from 2007 to 2013; it has been an entirely community-managed project since then.

I would also recommend you to check out his **book on data analysis with Python**, which is freely available online at this link: [Python for Data Analysis](https://wesmckinney.com/book/).

<figure>
<img src="img/wes-hadley.jpeg" alt="fishy" class="bg-primary mb-1" width="400">
<figcaption align = "center"> Hadley Wickham (R > Tidyverse) & Wes McKinney (Py > pandas) </figcaption>
</figure>

While pandas adopts many coding idioms from NumPy, the biggest difference is that **pandas is designed for working with tabular or heterogeneous data** (that is: numbers, dates, strings, ...). NumPy, by contrast, is best suited for working with homogeneously-typed numerical array data (that is: numbers).

Just like numpy is conventionally imported as `import numpy as np`, pandas has its own convention:

In [ ]:
import pandas as pd

`pandas` provides two **data structures** that allow you to shape data into a readable form:

- **Series**: it's a one-dimensional array-like object containing a sequence of values
- **Data Frames**: it's a rectangular table of data where each column is a Series

So the Series is the data structure for a single column of a DataFrame not only conceptually, but literally; in fact, the data in a DataFrame is effectively stored in memory as a collection of Series.

#### Series

A pandas `series` is a **one-dimensional data structure** that comprises of a key-value pair. It contains a sequence of values of the same type and an associated array of data labels, called its index (these are the keys of the key-value pair). 

You can initialise a simple series with `pd.Series()`:

In [ ]:
# integer series
pd.Series([2, -5, 4, 7])

In [ ]:
# float series
pd.Series([3.0, 3.5, 4.0, 4.5, 5.0])

In [ ]:
# string series
pd.Series(["junior", "adult", "senior"])

We said that a series is a collection of a key-values pairs (similar to a Python dictionary); you can access these elements via the `.index` and `.array` attributes:

In [ ]:
# initialise a series "s"
s = pd.Series([10, 20, 30, 40, 50])

In [ ]:
# get the keys (index) of the series 
s.index

In [ ]:
# get the values of the series
s.array

You can also specify the keys/index of the series via a specific value or character:

In [ ]:
# initialise a series "s2"
s2 = pd.Series(["junior", "adult", "senior"], index=["j", "a", "s"])
s2

In [ ]:
# get the keys (index) of the series 
s2.index

In [ ]:
# get the values of the series
s2.values

Indexing, slicing, assignment and boolean masking work in an analogous way to Python lists and numpy's arrays:

In [ ]:
# slicing by index value
s[1:3]

In [ ]:
# overwrite an existing value
s[4] = 60
s

In [ ]:
# boolean masking
s[s > 30]

In [ ]:
s2

In [ ]:
# slicing by single index value
s2["a"]

In [ ]:
# slicing by multiple index values (notice the double square brackets)
s2[["a", "s"]]

In [ ]:
# multiplying by a scalar
s3 = s * 10
s3

You can transform a dictionary into a Series (and a Series can be converted back to a dictionary with the `.to_dict()` method):

In [ ]:
# given the following dictionary...
cities = {"Rome":2761632, "Milan":1371498, "Naples":914758, "Turin":848885, "Palermo":np.nan}
cities

In [ ]:
# ...we can create a Series: 
cities_s = pd.Series(cities)
cities_s

The functions `pd.isna()` and `pd.notna()` can be used to detect missing data:

In [ ]:
# detect missing values
pd.isna(cities_s)

A function like `pd.isna()` can be used as a boolean mask to get a subselection of the Series. Here we select the miising value and assign it the correct value:

In [ ]:
# pd.isna() boolean mask + assignment of new value
cities_s[pd.isna(cities_s)] = 630828
cities_s

#### Data Frame

A pandas `DataFrame` is a **two-dimensional data-structure** that can be thought of as a spreadsheet. A DataFrame can also be thought of as a **dictionary of Series**. The DataFrame has both a **row and column index** and each column can be of a **different data type** (numeric, string, boolean, etc.)

The most common way to **create a pandas DataFrame** is from a dictionary of equal-length lists or NumPy arrays:

In [ ]:
data = {"gender": ["Males", "Males", "Males", "Males", "Females", "Females", "Females", "Females"],
        "year": [2018, 2019, 2020, 2021, 2018, 2019, 2020, 2021],
        "popM": [29.428, 29.131, 29.050, 28.866, 31.056, 30.685, 30.591, 30.370]}
frame = pd.DataFrame(data)
frame

You can access the first / last rows of your dataframe with the `.head()` and `.tail()` methods:

In [ ]:
# top 5 rows (5 is the default)
frame.head()

In [ ]:
# last 3 rows 
frame.tail(3)

You can **retrieve a column in a DataFrame** as a Series with the following two methods: 

- `frame["colname"]` indexing or square bracket access *(preferred method)*
- `frame.colname` attribute or dot access

In [ ]:
# retrieve the popM column with the dict-like notation
frame["popM"]

In [ ]:
# retrieve the popM column with the dot-attribute notation
frame.popM

Some notes on the **differences between the two** access methods: 

- indexing `[]` (squared brackets access) has the full functionaly to operate on DataFrame column data
- attribute access (dot access) is mainly for convinience to access existing DataFrame column data, but some limitations, namely: 
    - you cannot add a column with this method
    - it only works if the column name does not conflict with any of the method names in DataFrame
    - it won't work if you have spaces in the column name 
    - it won't work if the column name is an integer

Check the [documentation](http://pandas-docs.github.io/pandas-docs-travis/user_guide/indexing.html#attribute-access) for more on attribute access.

**Rows can also be retrieved** by index position `.iloc` or by index name `.loc`. Let's first **set a new index** on our dataframe with the `.set_index()` method so to better understand the difference between these two ways of slicing our data.

In [ ]:
# to set a new index on our dataframe
frame.set_index([["m18", "m19", "m20", "m21", "f18", "f19", "f20", "f21"]], inplace=True)
frame

Using `.iloc[2]`, we will select the row at **index** = 2 (so the third row, since Python indexes start at 0):

In [ ]:
# the i in iloc stands for index, so this will retrieve the row at index = 2
frame.iloc[2]

Using `.loc["f18"]`, we will select the row whose **index name** = "f18" (so the fifth row in this example):

In [ ]:
# the loc will match the index value, so this will retrieve the row with an index value of 2
frame.loc["f18"]

*Check [this table](https://wesmckinney.com/book/pandas-basics.html#tbl-table_dataframe_loc_iloc) for a complete list of indexing solutions.*

To **create a new column**, you can use the same indexing / square bracket access that we saw before:

In [ ]:
frame['country'] = 'Italy'
frame['constant'] = 999
frame['variable'] = np.arange(8)
frame['random'] = np.random.rand(8) * 100
frame

You can also multiply one column by the other and save it as a new column:

In [ ]:
frame["new"] = frame["variable"] * frame["random"]
frame

To **retrieve the column names** use the `.columns` attribute:

In [ ]:
frame.columns

Similarly, use the `.index` attribute to **retrieve the index names**:

In [ ]:
frame.index

To **change the order of the variables** you can rearrange the column names in the following way: 

*(Note: omitting a name in the square brackets will automatically drop that column)*

In [ ]:
frame = frame[['country', 'gender', 'year', 'popM', 'random']]
frame

To **delete a column** use the `.drop()` method and specifying the column `axis = 1` *(notice that with `axis = 0` you can delete specific rows by selecting the relative index name)*:

In [ ]:
frame = frame.drop(["random"], axis = 1)
frame

You can use **boolean conditions** to keep just a slice of the dataset:

In [ ]:
frame[frame["gender"] == "Males"]

And, by placing another square bracket slicer next to the first one, you can select a specific column:

In [ ]:
frame[frame["gender"] == "Males"]["popM"]

To **sort the DataFrame by the values of a column**, use the `.sort_values()` method specifying the column name like this:

In [ ]:
frame.sort_values("popM")

To sort in descending order add the `ascending=False` parameter:

In [ ]:
frame.sort_values("popM", ascending=False)

To sort multiple columns, include the column names (and the ascending parameter, if necessary) in the square brackets:

In [ ]:
frame.sort_values(["gender", "year"], ascending = [True, False])

You can compute descriptive statistics using the `.sum()`, `.mean()`, `.cumsum()` (and many more) methods:

In [ ]:
print(frame["popM"].min())
print(frame["popM"].mean())
print(frame["popM"].sum())
print(frame["popM"].max())

In [ ]:
# you can compute the cumulative sum with .cumsum()
frame["ones"] = 1
frame["cumsum"] = frame["ones"].cumsum()
frame

The `describe()` method allows you to create a **table of descriptive statistics** about the numerical columns in your dataset:

In [ ]:
frame.describe()

Check out [this table](https://wesmckinney.com/book/pandas-basics.html#tbl-table_descriptive_stats) for a list of more statistical functions you can use with Series and DataFrames.

Finally, if you need to find out the unique elements in a Column or if you want to count the occurrences of a category within a column, you can use the `.unique()` and `.value_counts()` methods, respectively:

In [ ]:
# to enumerate the unique values in a DataFrame column: 
frame["year"].unique()

In [ ]:
# to count the occurrences of each category in a DataFrame column: 
frame["gender"].value_counts()

---

### Command Line 101

#### Unix (Mac OS / Linux)

- Open a Terminal in the **3.11.27 Pandas** folder (check [this tutorial](https://www.maketecheasier.com/launch-terminal-current-folder-mac/) for a refresher) 
- Use the command `ls` to check the contents of the directory
- Use the command `cd data` to move into the **data** folder *(cd = change directory)*
- Use the command `echo "hello world" > file.txt` to create a new file **file.txt** and write the string **hello world** inside it
- Use the command `cat file.txt` to check the contents of the file
- Use the command `wc -l file.txt` to count the number of rows in the file

Check out [this page](https://www.earthdatascience.org/courses/intro-to-earth-data-science/open-reproducible-science/bash/bash-commands-to-manage-directories-files/) and [this video](https://www.youtube.com/watch?v=SgGFZvlqcwk) for more useful commands on how to work with files and dierctories.

#### Windows

*Note: Windows users with Windows 10 or higher can [activate the Windows Subsystem for Linux (WSL)](https://www.laptopmag.com/articles/use-bash-shell-windows-10), which will enable the Linux Bash Shell in Windows 10.*

- Open a Command Prompt in the **3.11.27 Pandas** folder (check [this tutorial](https://www.lifewire.com/open-command-prompt-in-a-folder-5185505) for a refresher) 
- Use the command `dir` to check the contents of the directory
- Use the command `cd data` to move into the **data** folder *(cd = change directory)*
- Use the command `echo hello world > file.txt` to create a new file **file.txt** and write the string **hello world** inside it
- Use the command `type file.txt` to check the contents of the file
- Use the command `find /v /c "" file.txt` to count the number of rows in the file

Check out this [list of commands](https://www.ionos.com/digitalguide/server/know-how/windows-cmd-commands/) as well as these videos on [navigating the file system](https://www.youtube.com/watch?v=9zMWXD-xoxc) and [working with files](https://www.youtube.com/watch?v=tqdiGfF68cc).

---

### Reading data in

There are plenty of [pandas functions for reading tabular data](https://wesmckinney.com/book/accessing-data.html#tbl-table_parsing_functions) as a DataFrame; one of the most frequently used is `pd.read_csv` which has a long list of optional parameters that can help you deal with exceptions and messy data in the data loading process. Nevertheless, if your dataset is fairly clean, you can load a .csv file in one line of code, just like in the following example. 

Let's load the **iris** dataset, which is a very famous dataset among statisticians, it was introduced by the British statistician and biologist Ronald Fisher in 1936. 

The data set consists of 50 samples from each of **three species of Iris** (setosa, virginica and versicolor) for a total of 150 observations. Four features were measured from each sample: the **length and the width of the sepals and petals**, in centimeters. Based on the combination of these four features, Fisher developed a linear discriminant model to distinguish the species from each other.

Before loading the dataset, let's quickly inspect it and check the number of records using the command line:

In [ ]:
# unix:
!wc -l data/iris.csv
# windows:
#find /v /c "" data\iris.txt

In [ ]:
# unix: 
!head -5 data/iris.csv   # head is like cat but shows only first -n rows
# windows:
#type data\iris.txt

In [ ]:
# read the data and save it to an DataFrame object
iris = pd.read_csv("data/iris.csv")

In [ ]:
# let's check the data type of object iris
type(iris)

In [ ]:
# let's check its number of rows and columns
iris.shape

In [ ]:
# let's print the first five rows of the data
iris.head()

Let's check how many observations we have for each `variety`:

In [ ]:
iris["variety"].value_counts()

Let's say we're interested in the average `petal.length` for each variety, therefore we'll be interested in this portion of the dataset:

In [ ]:
iris.loc[:,["petal.length","variety"]]

We can filter the dataset so to keep just the rows of the Setosa variety in the following way:

In [ ]:
iris.loc[iris["variety"]=="Setosa",["petal.length","variety"]].head()

At this point, I can calculate the average petal length by simply taking the average of the `petal.length` column:

In [ ]:
iris.loc[iris["variety"]=="Setosa","petal.length"].mean()

In [ ]:
print("Avg. petal length by iris variety:")
print("Setosa:", iris.loc[iris["variety"]=="Setosa"]["petal.length"].mean())
print("Versicolor:", iris.loc[iris["variety"]=="Versicolor"]["petal.length"].mean())
print("Virginica:", iris.loc[iris["variety"]=="Virginica"]["petal.length"].mean())

In [ ]:
print("Avg. petal length by iris variety:")
for var in iris["variety"].unique(): 
    print(var, ":", iris.loc[iris["variety"]==var]["petal.length"].mean())

Let's see how to **load a slightly messier dataset**. You can find the `GA Paid Search Traffic.csv` file in the `data` folder, which was generated and downloaded from the **Paid Keyword report** in the **Google Analytics** account of the Google Merchandise Store: *Acquisition > Campaigns > Paid Keywords*. 

By inspecting the dataset via the command line *(hint: you can also double-click the dataset in the File Browser panel on the left)* we notice that there are three main blocks of information: 

- a header containing some metadata information 
- a first block of data related to paid keyword performance
- a second block of data containing a time series with the number of users

In [ ]:
!cat data/GA\ Paid\ Search\ Traffic.csv

If we try to read the file as is, we will get an error, line in the block below:

In [ ]:
# read the data and save it to an DataFrame object
pd.read_csv("data/GA Paid Search Traffic.csv")

Let's refer back to the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) of the `pd.read_csv()` function to see which parameters could come in handy here. In particular the following two paramenters will help us deal with this file:

- **skiprows**: number of lines to skip (int) at the start of the file
- **nrows**: number of rows of file to read

In [ ]:
ga_keywords = pd.read_csv("data/GA Paid Search Traffic.csv", skiprows=5, nrows=10)
ga_keywords

It's always important to **check the data type of the DataFrame's columns** after loading the data; you always want to ensure that the data has been imported as expected. You can use the `.dtype` attribute or the `.info()` method on the DataFrame to get a table showing the data type for each column of the DataFrame. 

*Notice that the `object` data type is a string.* 

Check out the table below for a more [detailed explanation](https://pbpython.com/pandas_dtypes.html) of data types in `pandas`: 

<img src="img/pandas-dtypes.png" width="600">

Let's check the data type of each column of the `ga_keywords` DataFrame using the `.info()` method:

In [ ]:
ga_keywords.info()

The verdict is that some columns have been interpreted correctly, others not so much; I'll report just the changes that need to be done: 

- **Users** & **Sessions** --> remove the "," sign & convert from string to int
- **Bounce Rate** & **E-commerce Conversion Rate** --> remove % sign & convert from string to float
- **Revenue** --> remove US$ sign & convert from string to float

Let's start with Users & Sessions. The issue here is that the `,`, which represents the thousands separator, is making Python think that this is a string and not an integer, so we'll need to use the `.replace()` method to find a `,` and replace it with nothing:

In [ ]:
ga_keywords["Users"].str.replace(',', '').astype('int64')

In [ ]:
# remove comma & convert to int
ga_keywords["Users"] = ga_keywords["Users"].str.replace(',', '').astype('int64')
ga_keywords["Sessions"] = ga_keywords["Sessions"].str.replace(',', '').astype('int64')
# remove % & convert to float
ga_keywords["Bounce Rate"] = ga_keywords["Bounce Rate"].str.replace('%', '').astype('float64')
ga_keywords["E-commerce Conversion Rate"] = ga_keywords["E-commerce Conversion Rate"].str.replace('%', '').astype('float64')
# remuve US$ & convert to float
ga_keywords["Revenue"] = ga_keywords["Revenue"].str.replace('US$', '', regex=False).astype('float64')

In [ ]:
ga_keywords.info()

In [ ]:
ga_keywords

We see a `(not set)` keyword, which is not that meaningful to us, so we decide to remove it from our dataset using a boolean mask:

In [ ]:
ga_keywords = ga_keywords[ga_keywords["Keyword"] != "(not set)"]
ga_keywords

Finally, we notice that the index of the DataFrame is now skipping from 0 to 2, so let's reset the index to avoid possible future errors:

In [ ]:
ga_keywords.reset_index(inplace=True, drop=True)
ga_keywords

---

### Exercise

Using the same `GA Paid Search Traffic.csv` file from the `data` folder as before, and the `pd.read_csv()` function that we've been using so far, load the "third block of data" from the file, that is, the Users' time series data.

In [ ]:
def convert_currency(val):
    new_val = val.replace(',','')
    return int(new_val)